.nova__about {
  display: flex;
  justify-content: center;
  max-width: 1728px;
  margin-bottom: 109px;
}

.nova__about-container {
  display: flex;
  flex-direction: column;
}

.nova__about-heading {
  margin-top: 44px;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-direction: column;
  gap: 29px;
}

.nova__about-heading h1 {
  color: #171d1c;

  font-family: var(--font-family);
  font-size: 48px;
  font-weight: 700;
}

.nova__about-heading p {
  color: var(--Black, #292929);

  font-family: var(--font-family);
  font-size: 36px;
  font-weight: 700;

  /* padding-left: 335px; */
}

.nova__about-difference_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nova__about-container img {
  cursor: pointer;
}

.nova__about-difference_percentage {
  display: flex;
  flex-direction: column;

  margin-top: 26px;
}

.nova__about-difference_percentage h5 {
  color: var(--Black, #292929);
  font-family: var(--font-family);
  font-size: 71px;
  font-weight: 700;
}

.nova__about-difference_percentage p {
  color: var(--Black, #292929);
  text-align: center;
  font-family: var(--font-family);
  font-size: 24px;
  font-weight: 400;

  width: 10px;
  margin-top: 5px;
}

.nova__about-content {
  display: flex;
  flex-direction: column;
}

.nova__about-content_container {
  display: flex;
  justify-content: space-between;

  margin-top: 52px;
}

.nova__about-content_text h3 {
  color: #171d1c;

  font-family: var(--font-family);
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 2px;
}

.nova__about-content_text p {
  color: var(--Black, #292929);

  font-family: var(--font-family);
  font-size: 20px;
  font-weight: 400;
  width: 427px;
}

.nova__about-content_text .para-4 {
  margin-top: 4px;
}

.nova__about-content_text span {
  color: var(--color-primary);

  font-size: 20px;
  font-weight: 400;
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .nova__about {
    width: 100%;
  }
  .nova__about-container {
    align-items: center;
    flex-wrap: wrap;
  }

  .nova__about-difference_container {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 70px;
    padding-top: 11px;
    flex-wrap: wrap;
  }

  .nova__about-heading h1 {
    text-align: center;
    font-size: 35px;
    padding-top: 40px;
  }
  .nova__about-heading h2 {
    font-size: 24px;
    padding-right: 376px;
  }
  .nova__about-difference_percentage h5 {
    font-size: 40px;
  }
  .nova__about-difference_percentage p {
    font-size: 18px;
  }
  .nova__about-content {
    padding-top: 20px;
    flex-wrap: wrap;
  }
  .nova__about-content_container {
    display: flex;
    gap: 35px;
  }
  .nova__about-content_text {
    flex-wrap: wrap;
  }

  .nova__about-content_text h3 {
    font-size: 27px;
  }
  .nova__about-content_text p {
    font-size: 17px;
    padding-top: 5px;
    line-height: 1.5;
  }
}

@media screen and (max-width: 768px) {
  .nova__about {
    width: 100%;
  }
  .nova__about-heading h1 {
    font-size: 23px;
  }
  .nova__about-heading p {
    font-size: 17px;
  }
  .nova__about-difference_container {
    /* display: flex; */
    gap: 59px;
    /* flex-wrap: wrap; */
  }
  .nova__about-difference_percentage {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .nova__about-difference_percentage h5 {
    font-size: 30px;
  }
  .nova__about-difference_percentage p {
    font-size: 15px;
  }
  .nova__about-content {
    padding-top: 20px;
    /* padding-left: 20px; */
  }
  .nova__about-content_container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
  }
  .nova__about-content_container img {
    width: 250px;
  }
  .nova__about-content_container h3 {
    font-size: 22px;
  }
  .nova__about-content_container p {
    font-size: 17px;
  }
  .nova__about-content_container span {
    font-size: 18px;
  }
}

@media screen and (max-width: 540px) {
  .nova__about {
    width: 100%;
  }

  .nova__about-heading h1 {
    font-size: 20px;
    padding-left: 11px;
  }
  .nova__about-heading p {
    font-size: 16px;
  }
  .nova__about-difference_percentage {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .nova__about-difference_percentage h5 {
    font-size: 23px;
  }
  .nova__about-difference_percentage p {
    font-size: 13px;
  }
  .nova__about-content {
    padding-top: 20px;
    flex-wrap: wrap;
    width: 100%;
  }
  .nova__about-content_container {
    flex-wrap: wrap;
    justify-content: center;
  }
  .nova__about-content_container h3 {
    font-size: 19px;
  }
  .nova__about-content_container p {
    font-size: 15px;
  }
  .nova__about-content_container span {
    font-size: 15px;
  }
}

@media screen and (max-width: 430px) {
  .nova__about {
    width: 100%;
    padding-left: 0;
  }
  .nova__about-content_container h3 {
    font-size: 15px;
    padding-left: 5px;
  }
  .nova__about-content_container p {
    font-size: 13px;
    padding-left: 5px;
  }
  .nova__about-content_container span {
    font-size: 13px;
  }
}

@media screen and (max-width: 380px) {
  .nova__about {
    width: 100%;
    padding-left: 0;
  }
  .nova__about-difference_container {
    padding-left: 11px;
 
  }
  .nova__about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .nova__about-content_container h3 {
    font-size: 15px;
    padding-left: 33px;
  }
  .nova__about-content_container p {
    font-size: 13px;
    padding-left: 33px;
  }
  .nova__about-content_container span {
    font-size: 13px;
  }
}
