.book-container {
  margin: 64px 166px 69px 166px;
  max-width: 1728px;
}

.image-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("../assets/bookback.png");
  width: 1396px;
  height: 512px;
  margin-bottom: 34px;
  cursor: pointer;
}

.image-text h1 {
  color: #fff;

  font-family: var(--font-family);
  font-size: 48px;
  font-weight: 700;
}

.image-text p {
  color: #fff;
  font-family: var(--font-family);
  font-size: 32px;
  font-weight: 400;
}

.book-select {
  display: flex;
  background: var(--pink-fuscia-pink-fuscia-3, #ffc9e3);
  border-radius: 16px;
  width: 1396px;
}

.navigate-container h4 {
  color: var(--Black, #292929);

  font-family: var(--font-family);
  font-size: 24px;
  font-weight: 700;
  cursor: pointer;
}

.navigate-container {
  flex: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 16px;
  width: 100%;
  height: 64px;
}

.book-main{
  background: var(--pink-fuscia-pink-fuscia-4, #FFEFF7);
  border-radius: 16px;
  width: 1396px;

}

.book-main .next {
  display: flex;
  justify-content: end;

}

.book-main .next p{
  color: var(--gray-gray, #3D3D3D);
font-family: var(--font-family);
font-size: 24px;
font-weight: 400;
  padding: 30px 29px  16px 0;
cursor: pointer;
}