.nova__footer {
  display: flex;
  background: var(--color-primary);
  /* overflow: initial; */
  margin-top: 64px;
  flex-direction: column;
}

.nova__footer-container {
  display: flex;
  margin-top: 65px;
  margin-left: 166px;
}

.nova__footer-heading h1 {
  color: var(--White, #fff);

  font-family: var(--font-family);
  font-size: 48px;
  font-weight: 700;

  width: 749px;
}

.nova__footer-question {
  margin-top: 71px;
  /* width: 749px; */
}

.nova__footer-send {
  color: var(--White, #fff);

  font-family: var(--font-family);
  font-size: 20px;
  font-weight: 400;
  margin-top: 36px;
  width: 645px;
}

.nova__footer-send span {
  font-size: 20px;
  font-weight: 700;
}

.nova__footer-input {
  display: flex;
  flex-direction: column;
  gap: 45px;
}

/* .nova__footer-input {
  display: flex;
  padding-bottom: 10px;
  gap: 45px;
} */

.name {
  outline: none;
  border: none;

  padding-bottom: 7px;
  color: #fff;
}

.email {
  outline: none;
  border: none;

  padding-bottom: 7px;
  color: #fff;
}

.number {
  outline: none;
  border: none;

  padding-bottom: 7px;
  color: #fff;
}

.number::-webkit-inner-spin-button,
.no-spin-buttons::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

.message {
  background: var(--color-primary);
  border: none;
  outline: none;
  height: 70px;
  color: #fff;
  font-family: var(--font-family);
  font-size: 24px;
  font-weight: 400;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

.nova__footer-input textarea::placeholder {
  color: #fff;
}

.nova__footer-input input {
  width: 100%;
  height: 29px;
  font-size: 24px;
  font-family: var(--font-family);
  background: var(--color-primary);
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.5);
}

.nova__footer-input input::placeholder {
  color: #fff;
}

.nova__footer-input_button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nova__footer-input_button button {
  width: 212px;
  height: 80px;
  color: var(--Black, #292929);
  font-family: var(--font-family);
  font-size: 20px;
  font-weight: 400;

  cursor: pointer;
  border-radius: 60%;
  border: none;
}

.nova__footer-lower {
  margin-top: 250px;
  margin-left: 166px;
}

.nova__footer-lower {
  display: flex;
  width: 1450px;
}

.nova__footer-lower_container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.nova__footer-lower_logo {
  display: flex;
  flex-direction: column;
}

.nova__footer-lower_logo img {
  width: 112px;
  height: 45.264px;
}

.nova__footer-lower_heading {
  margin-top: 29px;
}

.nova__footer-lower_heading h3 {
  color: var(--White, #fff);

  font-family: var(--font-family);
  font-size: 32px;
  font-weight: 700;
  width: 388px;
}

.nova__footer-lower_text {
  margin-top: 27px;
}

.nova__footer-lower_text p {
  color: var(--White, #fff);

  font-family: var(--font-family);
  font-size: 20px;
  font-weight: 400;
  width: 340px;
  height: 71px;
}

.nova__footer-lower_links {
  display: flex;
  flex-direction: column;
  margin-left: 173px;
}

.nova__footer-lower_links h3 {
  color: var(--White, #fff);
  font-family: var(--font-family);
  font-size: 25px;
  font-weight: 700;
  line-height: 105.469%;
  letter-spacing: 2.25px;
}
.nova__footer-lower_links-container {
  margin-top: 32px;
}
.nova__footer-lower_links-container p {
  color: var(--White, #fff);
  font-family: var(--font-family);
  font-size: 19px;
  font-weight: 400;
  line-height: 186.469%; /* 27.829px */
}

.nova__footer-lower_links-social {
  display: flex;
}

.nova__footer_links-social_heading {
  margin-left: 80px;
}

.nova__footer_links-social_heading h3 {
  color: var(--White, #fff);
  font-family: var(--font-family);
  font-size: 25px;
  font-weight: 700;
  line-height: 105.469%; /* 26.367px */
  letter-spacing: 2.25px;
}

.nova__footer-lower_links-social_container {
  margin-top: 32px;
}

.nova__footer-lower_links-social_container p {
  color: var(--White, #fff);
  font-family: var(--font-family);
  font-size: 19px;
  font-weight: 400;
  line-height: 186.469%; /* 27.829px */

  cursor: pointer;
}

.nova__footer-lower_contact {
  display: flex;
}

.nova__footer-lower_contact-container {
  margin-left: 121px;
  margin-right: 166px;
}

.nova__footer-lower_contact-container h3 {
  color: var(--White, #fff);
  font-family: var(--font-family);
  font-size: 25px;
  font-weight: 700;
  line-height: 105.469%;
  letter-spacing: 2.25px;
}

.nova__footer-lower_contact-container_div {
  margin-top: 32px;
}

.nova__footer-lower_contact-container_div p {
  color: var(--White, #fff);
  font-family: var(--font-family);
  font-size: 19px;
  font-weight: 400;
  line-height: 146.469%; /* 27.829px */
}

/* .nova__footer-slider {
  width: 876px;
  height: 1px;

  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
} */

.nova__footer-line {
  display: flex;
  justify-content: center;
  margin-left: 166px;
}
.line-1 hr {
  margin-top: 49px;

  background: #fff;
  width: 876px;
  height: 1px;
  border: 0;
}
.line-pra {
  color: var(--White, #fff);
  text-align: center;
  /* Paragraph/Regular */
  font-family: var(--font-family);
  font-size: 20px;
  font-weight: 400;

  margin-top: 21px;
  margin-bottom: 40px;
}

.emaill {
  display: flex;
  align-items: center;
  gap: 18px;
}

.emaill strong {
  color: var(--White, #fff);
  font-family: Hellix;
  font-size: 23px;
  font-style: normal;
  font-weight: 500;
  line-height: 146.469%; /* 33.688px */
}
.emaill p {
  margin-top: 5px;
}

.phone {
  display: flex;
  align-items: center;
  gap: 18px;
}

.phone strong {
  color: var(--White, #fff);
  font-family: Hellix;
  font-size: 23px;
  font-style: normal;
  font-weight: 500;
  line-height: 146.469%; /* 33.688px */
}

.phone p{
  margin-top: 5px;
}

.address{
   display: flex;
  align-items: start;
  gap: 5px;
}

.address strong {
  color: var(--White, #fff);
  font-family: Hellix;
  font-size: 23px;
  font-style: normal;
  font-weight: 500;
  line-height: 146.469%; /* 33.688px */
}

.address p{
  margin-top: 5px;
}

