.nova__header {
  height: 610px;
  margin-left: 166px;
  display: flex;
}

.nova__header-container {
  display: flex;
  flex-direction: column;
  /* justify-content: space-around; */
  /* align-items: center; */
  /* gap: 390px; */
  /* height: 100%; */
  max-width: 1728px;
  margin-top: 67px;
}

.nova__header-heading h1 {
  color: var(--Black, #292929);

  font-family: var(--font-family);
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 30px;
}

.nova__header-heading span {
  color: var(--color-primary);
}

.nova__header-heading p {
  color: var(--Black, #292929);

  font-family: var(--font-family);
  font-size: 20px;
  font-weight: 400;
  width: 540px;
  margin-bottom: 60px;
}

.nova__header-heading h3 {
  color: var(--color-primary);

  font-family: var(--font-family);
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 23px;
}

.nova__header-difference_container {
  display: flex;
  gap: 65px;
}

.nova__header-difference_percentage h5 {
  color: var(--Black, #292929);
  font-family: var(--font-family);
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 6px;
}

.nova__header-difference_percentage p {
  color: var(--Black, #292929);
  text-align: center;
  font-family: var(--font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: 109.5%;

  width: 10px;
}

.nova__header-container img {
  width: 441px;
  height: 491px;
}

.nova__header-image img {
  width: 441px;
  height: 491px;
}

.nova__header-image {
  display: flex;
  margin-left: 390px;
  align-items: center;
}
