.nova__navbar {
  background: var(--color-primary);
  height: 53px;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 40px;
  margin-top: 18px;
  width: 1728px;
}

.nova__navbar-container {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-around;
  padding-left: 157px;
}

.nova__navbar-links {
  display: flex;
  align-items: center;
}

.nova__navbar-links p {
  margin-left: 48px;

  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 400;
}

.nova__navbar-links .book {
  width: 100px;
  height: 53px;
  border-radius: 8px;
  background: var(--Black, #292929);
  color: #fff;
  font-family: var(--font-family);
  padding: 20px 0 0 7px;
  font-size: 16px;
  font-weight: 700;

  cursor: pointer;
}

.nova__navbar-svgs {
  cursor: pointer;
  display: flex;
}

.nova__navbar-svgs .svg {
  width: 36px;
  height: 36px;
}

.img-cart {
  background-color: #fff;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 25px;
}

.nova__navbar-svgs .cart {
  width: 20px;
  height: 20px;
}

.custom-dropdown {
  text-align: center;

  border-radius: 16px;
  appearance: none;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  padding: 10px;
}

.dropdown-options {
  background: #fff;
  color: var(--Black, #292929);
  width: 151.763px;
  height: 240.705px;
  border-radius: 16px;
  box-shadow: 2px 4px 16px 0px rgba(0, 0, 0, 0.25);
}

ul {
  list-style-type: none;
  position: absolute;
  z-index: 1000;
}

li {
  text-align: start;
  padding-left: 8px;
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 48px;
  cursor: pointer;
}

.toggle-nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  display: none;
}

.menu-bar_container {
  background: var(--color-primary);
  position: absolute;
  padding: 40px 0 10px 30px;
  top: 40px;
  left: 0;
  margin-top: 15px;
  border-radius: 5px;
  width: 300px;
  height: 100%;
  z-index: 2000;
}
.menu-bar_container p {
  font-family: var(--font-family);
  margin-bottom: 40px;
  font-size: 12px;
}

.cart-logo {
  background: #fff;
  border-radius: 15px;

  width: 34px;
  height: 34px;
  padding: 7px;
}

@media screen and (max-width: 1024px) {
  .nova__navbar {
    width: 100%;
    /* position: fixed; */
    margin-top: 0;
    padding: 0;
  }
  .nova__navbar-container {
    display: none;
  }
  .nova__navbar-svgs {
    display: none;
  }
  .toggle-nav {
    display: flex;
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .nova__navbar {
    width: 100%;
    /* position: fixed; */
    margin-top: 0;
    padding: 0;
  }
  .nova__navbar-container {
    display: none;
  }
  .nova__navbar-svgs {
    display: none;
  }
  .toggle-nav {
    display: flex;
    width: 100%;
  }
  .toggle-nav img:nth-child(1) {
    width: 35px;
    height: 35px;
  }
  .toggle-nav .cart-logo img {
    width: 20px;
    height: 20px;
  }
  .cart-logo {
    border-radius: 15px;

    width: 31px;
    height: 31px;
    padding: 5px;
  }
}

@media screen and (max-width: 540px) {
  .nova__navbar {
    width: 100%;
    /* position: fixed; */
    margin-top: 0;
    padding: 0;
  }
  .nova__navbar-container {
    display: none;
  }
  .nova__navbar-svgs {
    display: none;
  }
  .toggle-nav {
    display: flex;
    width: 100%;
  }
  .toggle-nav img:nth-child(1) {
    width: 32px;
    height: 32px;
  }
  .toggle-nav .cart-logo img {
    width: 19px;
    height: 19px;
  }
}

@media screen and (max-width: 430px) {
  .nova__navbar {
    width: 100%;
    /* position: fixed; */
    margin-top: 0;
    padding: 0;
  }
  .nova__navbar-container {
    display: none;
  }
  .nova__navbar-svgs {
    display: none;
  }
  .toggle-nav {
    display: flex;
    width: 100%;
  }
  .toggle-nav img:nth-child(1) {
    width: 30px;
    height: 30px;
  }
  .toggle-nav .cart-logo img {
    width: 17px;
    height: 17px;
  }
  .cart-logo {
    border-radius: 15px;

    width: 30px;
    height: 30px;
    padding: 6px;
  }
}

@media screen and (max-width: 380px) {
  .nova__navbar {
    width: 414px;
    margin-top: 0;
    padding: 0;
  }
  .nova__navbar-container {
    display: none;
  }
  .nova__navbar-svgs {
    display: none;
  }
  .toggle-nav {
    display: flex;
    width: 100%;
  }
  .toggle-nav img:nth-child(1) {
    width: 28px;
    height: 28px;
  }
  .toggle-nav .cart-logo img {
    width: 15px;
    height: 15px;
  }
  .cart-logo {
    border-radius: 15px;

    width: 28px;
    height: 28px;
    padding: 6px;
  }
}
