.nova__navbar {
  background: var(--color-primary);
  height: 53px;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 40px;
  margin-top: 18px;
  width: 1728px;
}

.nova__navbar-container {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-around;
  padding-left: 157px;
}

.nova__navbar-links {
  display: flex;
  align-items: center;
}

.nova__navbar-links p {
  margin-left: 48px;

  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 400;
}

.nova__navbar-links .book {
  width: 100px;
  height: 53px;
  border-radius: 8px;
  background: var(--Black, #292929);
  color: #fff;
  font-family: var(--font-family);
  /* margin-left: 46px; */
  padding: 20px 0 0 7px;
  font-size: 16px;
  font-weight: 700;

  cursor: pointer;
}

.nova__navbar-svgs {
  cursor: pointer;
  display: flex;
  /* margin-right: 241px; */
}

.nova__navbar-svgs .svg {
  width: 36px;
  height: 36px;
}

.img-cart {
  background-color: #fff;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 25px;
}

.nova__navbar-svgs .cart {
  width: 20px;
  height: 20px;
}

.custom-dropdown {
  text-align: center;

  border-radius: 16px;
  appearance: none;
  /* position: absolute; */
  display: flex;
  flex-direction: column;
  cursor: pointer;
  padding: 10px;
}

.dropdown-options {
  background: #fff;
  color: var(--Black, #292929);
  width: 151.763px;
  height: 240.705px;
  border-radius: 16px;
  box-shadow: 2px 4px 16px 0px rgba(0, 0, 0, 0.25);
}

ul {
  list-style-type: none;
  position: absolute;
  z-index: 1000;
}

li {
  text-align: start;
  padding-left: 8px;
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 400;
  line-height: 48px;
  cursor: pointer;
  /* border-bottom: 1px solid #3d3d3d; */
}

.toggle-nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  display: none;
}

.menu-bar{
  width: 34px;
  height: 34px;
}

.cart-logo {
  background: #fff;
  border-radius: 15px;

  width: 34px;
  height: 34px;
  padding: 7px;
}

@media screen and (max-width: 1024px) {
  .nova__navbar {
    width: 100%;
    position: fixed;
    margin: 0;
    padding: 0;
  }
  .nova__navbar-container {
    display: none;
  }
  .nova__navbar-svgs {
    display: none;
  }
  .toggle-nav {
    display: flex;
    width: 100%;
  }
}
/* 
@media screen and (max-width: 768px) {
  .nova__navbar {
    width: 100%;
  }
  .nova__navbar-container {
    width: 100%;
    padding-left: 24px;
  }

  .nova__navbar-links {
    gap: 22px;
  }

  .nova__navbar-links p {
    margin-left: 2px;
    font-size: 16px;
    font-weight: 200;
  }
} */
