.productCard {
  max-width: 400px;
  margin-bottom: 48px;
}

.productCard img {
  width: 400px;
  height: 330px;

  background: lightgray 50% / cover no-repeat;
  cursor: pointer;
}

.product-heading {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
  margin-bottom: 16px;
  align-items: center;
}

.product-heading h4 {
  color: #051014;

  font-family: var(--font-family);
  font-size: 24px;
  font-weight: 700;
}

.product-heading p {
  color: var(--Black, #292929);

  font-family: var(--font-family);
  font-size: 20px;
  font-weight: 400;
}

.productCard p {
  color: var(--Black, #292929);

  font-family: var(--font-family);
  font-size: 20px;
  font-weight: 400;
}

.product-pricing {
  display: flex;
  align-items: center;
  gap: 25px;
  margin-top: 23px;
}

.product-pricing h4 {
  color: #051014;

  font-family: var(--font-family);
  font-size: 24px;
  font-weight: 700;
}

.product-pricing button {
  color: var(--White, #fff);

  font-family: var(--font-family);
  font-size: 20px;
  font-weight: 400;
  background: var(--color-primary);
  border-radius: 8px;
  border: none;
  width: 149px;
  height: 36px;
  cursor: pointer;
}

@media screen and (max-width: 1024px) {
  .productCard {
    width: 346px;
    margin-bottom: 48px;
  }
  .productCard img {
    width: 376px;
    height: 300px;
  }
  .product-heading h4 {
    font-size: 20px;
  }
  .product-heading p {
    font-size: 18px;
  }
  .productCard p {
    font-size: 18px;
  }
  .product-pricing h4 {
    font-size: 20px;
    font-weight: 600;
  }
  .product-pricing button {
    font-size: 17px;
    font-weight: 400;
    border-radius: 6px;
    width: 126px;
    height: 33px;
  }
}

@media screen and (max-width: 768px) {
  .productCard {
    width: 326px;
    margin: 0 0 48px 13px;
  }

  .productCard img {
    width: 341px;
    height: 270px;
  }
  .product-heading h4 {
    font-size: 17px;
  }
  .product-heading p {
    font-size: 16px;
  }
  .productCard p {
    font-size: 15px;
  }
  .product-pricing h4 {
    font-size: 17px;
    font-weight: 600;
  }
  .product-pricing button {
    font-size: 14px;
    font-weight: 400;
    border-radius: 5px;
    width: 110px;
    height: 30px;
  }
}

@media screen and (max-width: 540px) {
  .productCard {
    width: 326px;
  }

  .productCard img {
    width: 361px;
    height: 260px;
  }
  .product-heading h4 {
    font-size: 15px;
  }
  .product-heading p {
    font-size: 14px;
  }
  .productCard p {
    font-size: 14px;
  }
  .product-pricing h4 {
    font-size: 15px;
    font-weight: 600;
  }
  .product-pricing button {
    font-size: 14px;
    font-weight: 400;
    border-radius: 5px;
    width: 110px;
    height: 30px;
  }
}

@media screen and (max-width: 430px) {
  .productCard {
    width: 326px;
  }

  .productCard img {
    width: 361px;
    height: 260px;
  }
  .product-heading h4 {
    font-size: 15px;
  }
  .product-heading p {
    font-size: 14px;
  }
  .productCard p {
    font-size: 14px;
  }
  .product-pricing h4 {
    font-size: 15px;
    font-weight: 600;
  }
  .product-pricing button {
    font-size: 14px;
    font-weight: 400;
    border-radius: 5px;
    width: 110px;
    height: 30px;
  }
}
