.nova__reviews {
  display: flex;
}

.nova__reviews-content {
  margin-left: 166px;
  margin-top: 24px;
}
.nova__reviews-content h1 {
  color: #000;

  font-family: var(--font-family);
  font-size: 48px;
  font-weight: 700;
}

.nova__reviews-image {
  margin-top: 16px;
}
.nova__reviews-image img {
  cursor: pointer;
}
.nova__reviews-review {
  padding-top: 24px;
}

.nova__reviews-review_container {
  display: flex;
  margin-top: 77px;
  gap: 10px;
}

.nova__reviews-review_text {
  display: flex;
  flex-direction: column;

  margin-left: 42px;
}

.nova__reviews-review_text p {
  font-family: var(--font-family);
  font-size: 20px;
  font-weight: 400;
  width: 278px;
}
.nova__reviews-review_text span:first-child {
  color: var(--color-primary);
  font-size: 20px;
  font-weight: 700;

  cursor: pointer;
}

.nova__reviews-review_name {
  margin-top: 11px;
}

.nova__reviews-review_image {
  display: flex;
  justify-content: center;
  align-items: center;
}
