.nova__serviceCard {
  margin-top: 31px;
}

.nova__serviceCard img {
  width: 399.905px;
  height: 326.528px;

  background: lightgray 50% / cover no-repeat;
  cursor: pointer;
}

.nova__serviceCard h4 {
  color: #051014;

  font-family: var(--font-family);
  font-size: 24px;
  font-weight: 700;
  margin-top: 27px;
  margin-bottom: 16px;
}

.nova__serviceCard p {
  color: var(--Black, #292929);

  font-family: var(--font-family);
  font-size: 20px;
  font-weight: 400;
  width: 399px;
}

.nova__serviceCard span {
  color: var(--color-primary);
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
}
