.nova__staffop h3 {
  padding: 36px 0 24px 35px;
  color: #171d1c;

  font-family: var(--font-family);
  font-size: 32px;
  font-weight: 700;
}

.start-option {
  height: 48px;
  border-radius: 16px;
  background: var(--White, #fff);
  margin-bottom: 16px;
  margin-left: 29px;
  margin-right: 29px;
  cursor: pointer;
}

.start-option p {
  color: var(--Black, #292929);

  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 400;
  padding: 12px 0 12px 26px;
}

@media screen and (max-width: 1024px) {
  .nova__staffop h3 {
    font-size: 27px;
  }
  .start-option p {
    font-size: 16px;
  }
}

@media screen and (max-width: 768px) {
  .nova__staffop h3 {
    font-size: 23px;
  }
  .start-option p {
    font-size: 16px;
  }
}

@media screen and (max-width: 540px) {
  .nova__staffop h3 {
    font-size: 20px;
  }
  .start-option p {
    font-size: 16px;
  }
}

@media screen and (max-width: 430px) {
  .nova__staffop h3 {
    font-size: 18px;
  }
  .start-option p {
    font-size: 16px;
  }
}

@media screen and (max-width: 430px) {
  .nova__staffop h3 {
    font-size: 15px;
  }
  .start-option p {
    font-size: 16px;
  }
}
