.book-input h3 {
  padding-top: 36px;
  color: #171d1c;
  font-family: var(--font-family);
  font-size: 32px;
  font-weight: 700;
  padding-bottom: 24px;
  padding-left: 35px;
}

.next {
  margin: 35px 40px 0 0;
  display: flex;
  justify-content: flex-end;
}

.next p {
  color: var(--gray-gray, #3d3d3d);
  font-family: var(--font-family);
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 20px;
  cursor: pointer;
}

.start-option {
  height: 48px;
  border-radius: 16px;
  background: var(--White, #fff);
  margin-bottom: 16px;
  margin-left: 29px;
  margin-right: 29px;
  cursor: pointer;
}

.start-option p {
  color: var(--Black, #292929);

  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 400;
  padding: 12px 0 12px 26px;
}

@media screen and (max-width: 1024px) {
  .book-input h3 {
    font-size: 27px;
  }
  .start-option {
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
  }
  .book-input_container .start-option p {
    font-size: 14px;
  }
}

@media screen and (max-width: 768px) {
  .book-input h3 {
    font-size: 23px;
  }
  .book-input_container .start-option p {
    font-size: 13px;
    padding: 16px 0 0 15px;
  }
}

@media screen and (max-width: 540px) {
  .book-input h3 {
    font-size: 21px;
  }
  .book-input_container .start-option p {
    font-size: 12px;
    padding: 11px 25px 0 15px;
  }
}

@media screen and (max-width: 430px) {
  .book-input h3 {
    font-size: 18px;
  }
  .book-input_container .start-option p {
    font-size: 11px;
    padding: 11px 25px 0 12px;
  }
}

@media screen and (max-width: 380px) {
  .book-input h3 {
    font-size: 15px;
  }
  .start-option p {
    font-size: 10px;
  }
  .book-input_container .start-option p {
    font-size: 10px;
    padding: 14px 25px 0 12px;
  }
}
