.book-input h3 {
  padding-top: 36px;
  color: #171d1c;
  font-family: var(--font-family);
  font-size: 32px;
  font-weight: 700;
  padding-bottom: 24px;
  padding-left: 35px;
}

.next {
  margin: 35px 40px 0 0;
  display: flex;
  justify-content: flex-end;
}

.next p {
  color: var(--gray-gray, #3d3d3d);
  font-family: var(--font-family);
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 20px;
  cursor: pointer;
}

.start-option {
  height: 48px;
  border-radius: 16px;
  background: var(--White, #fff);
  margin-bottom: 16px;
  margin-left: 29px;
  margin-right: 29px;
  cursor: pointer;
}

.start-option p {
  color: var(--Black, #292929);

  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 400;
  padding: 12px 0 12px 26px;
}
