.nova__topbar-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  margin-top: 28px;
  margin-left: 166px;

  max-width: 1728px;
}

.nova__topbar-logo img {
  max-width: 87px;
}

.nova__topbar-scheduale {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 74px;

  gap: 59px;
}

.nova__topbar-scheduale p {
  color: var(--Black, #292929);

  font-family: var(--font-family);
  font-size: 20px;
  font-weight: 400;
}

.nova__topbar-scheduale .divider {
  width: 1px;
  height: 38px;

  background: #a5a5a5;
}

.login {
  width: 132px;
  height: 36px;
  color: var(--color-primary);

  font-family: var(--font-family);
  font-size: 20px;
  font-weight: 400;

  border-radius: 8px;
  background: var(--pink-fuscia-pink-fuscia-3, #ffc9e3);
  border: none;
  cursor: pointer;
}

.nova__topbar-buttons {
  margin-left: 112px;
}

.signup {
  width: 132px;
  height: 36px;
  color: var(--White, #fff);

  font-family: var(--font-family);
  font-size: 20px;
  font-weight: 400;

  border-radius: 8px;
  background: var(--color-primary);
  border: none;
  margin-left: 16px;
  cursor: pointer;
}

.bottom-slider {
  width: 100%;
  height: 1px;

  background: #a5a5a5;
  margin-top: 10px;
}
